.screen-center-position {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 500px;
  min-width: 500px;
}

.login-container {
  min-height: 370px;
  min-width: 370px;
  padding: 10px 0px;
}

p {
  margin: 0px;
}
