<div class="screen-center-position">
  <h4>Connexion</h4>
  <div class="message">
    <p>A sandbox test about login with jwt / facebook and google.</p>
    <p>Sources available <a href="https://bitbucket.org/jvanhouteghem/auth-sandbox/src/master/">here</a>.</p>
  </div>
  <ul class="tab tab-block">
    <li class="tab-item">
      <!-- NB: I let javascript:void(0); to focus on POC, spectre.css need a <a> balise. -->
      <a href="javascript:void(0);" (click)="active ='jwt'" [class.active]="active === 'jwt'">JWT</a>
    </li>
    <li class="tab-item">
      <a href="javascript:void(0);" (click)="active = 'facebook'" [class.active]="active === 'facebook'">Facebook</a>
    </li>
    <li class="tab-item">
      <a href="javascript:void(0);" (click)="active = 'google'" [class.active]="active === 'google'">Google</a>
    </li>
  </ul>
  <div class="login-container" [hidden]="active !== 'jwt'">
    <app-jwt></app-jwt>
  </div>

  <div class="login-container" [hidden]="active !== 'facebook'">
    <app-facebook></app-facebook>
  </div>

  <div class="login-container" [hidden]="active !== 'google'">
    <app-google></app-google>
  </div>

  <p>By Jonathan Vanhouteghem</p>
  <app-facebook-like></app-facebook-like>
</div>
