<div class="login" [formGroup]="loginForm" *ngIf="!isProd(); else prodNoJwt">
  <div class="form-group">
    <label class="form-label">Login</label>
    <input formControlName="username" class="form-input" type="text" placeholder="Login">
  </div>
  <div class="form-group">
    <label class="form-label">Password</label>
    <input formControlName="password" class="form-input" type="text" placeholder="Password">
  </div>
  <div class="call-data">
    <button (click)="callLogin(loginForm.value['username'], loginForm.value['password'])" class="btn">Connexion</button>
    <button (click)="callChuckSentenses()" class="btn">Get Datas</button>
  </div>
  <app-divider></app-divider>
  <div class="result-data ellipsis">
    <div>Jwt : {{jwt}}</div>
    <div>Result : {{chuck}}</div>
  </div>
</div>
<ng-template #prodNoJwt>
  <div class="login">
    No jwt, to try it install this project and run the jwt backend. Enjoy =)
  </div>
</ng-template>
<app-divider></app-divider>
