/* You can add global styles to this file, and also import other style files */

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}

/* .tab .tab-item .active, .tab .tab-item.active {
  border-bottom-color: #5755d9;
  color: #5755d9;
}

.tab .tab-item {
  border-bottom: .1rem solid transparent;
  color: inherit;
  display: block;
  margin: 0 .4rem 0 0;
  padding: .4rem .2rem .3rem .2rem;
  text-decoration: none;
}

.tab.tab-block .tab-item {
    margin: 0;
} */
